/* Main structure */

body {
  min-width: 620px;      /* 2x NAV width + CLOCK width */
  margin: 0px;
}
header {
	height: 110px;
}
.wrapper {
  padding-left: 215px;   /* NAV width */
  padding-right: 390px;  /* CLOCK width */
}
.wrapper .column {
  position: relative;
  float: left;
}
#center {
  width: 100%;
}
#left {
	width: 55%;
}
#right {
	width: 45%;
}

#nav {
  width: 215px;          /* NAV width */
  right: 215px;          /* NAV width */
  margin-left: -100%;
}
#clock {
  width: 390px;          /* CLOCK width */
  margin-right: -390px;  /* CLOCK width */
}
footer {
  clear: both;
}
/*** IE6 Fix ***/
* html #left {
  left: 390px;           /* CLOCK width */
}
/********* end of main structure **************/

div.logo {
	width: 220px;
	float:left;
	height: 110px;
}
div.logo img {
	margin: 20px 0px 0px 20px;
}

div.punchline {
	float:left;
}
div.punchline p {
	margin: 0px 0px 0px 60px;
	text-align: center;
	line-height: 110px;
}
div.profile {
	float:right;
}
div.profile ul {
	list-style-type: none;
	text-align: center;
	line-height: 110px;
	margin: 0px 40px 0px 0px;
}
div.profile ul li {
	float: left;
	margin-right: 5px;
}
section#credits {
	margin: 60px 0 30px 30px;
}
section#menu nav ul {
	padding:0 0 20px;
}
section#menu li {
	height: 50px;
	list-style-type: none;
}
section#menu li a {
	width: 184px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	display: block;
	height: 50px;
	text-align: left;
	padding: 0 0 0 30px;
}
section.content-item {
	padding: 30px;
}
td.align-right {
	text-align: left;
}
form {
	margin-top: 30px;
}

