@font-face{
font-family:"bam Sans";
src:url("/fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix");
src:url("/fonts/83d5bc89-af33-46a9-8fe3-15d87784f50e.eot?#iefix") format("eot"),url("/fonts/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff"),url("/fonts/1d146b29-55e2-485b-96aa-5cb628e7e9eb.ttf") format("truetype"),url("/fonts/d90b3358-e1e2-4abb-ba96-356983a54c22.svg#d90b3358-e1e2-4abb-ba96-356983a54c22") format("svg");
}

body {
	font-family: helvetica;
	font-size: 13px;
}
div.profile ul li {
	font-size: 14px;
}
div.profile ul li a{
	text-decoration: none;
}
section.main .left h1, section.main .right h1 {
	text-transform: uppercase;
}
section#credits {
	font-size: 17px;
	font-weight: bold;
}
section#menu li a{
	font-size: 13px;
}

h1 {
	font-size: 22px;
	margin: 5px 0;
	text-transform: uppercase;
}
h2 {
	font-size: 15px;
	margin: 5px 0;
	text-transform: uppercase;
}
p.small {
	font-size: 13px;
	margin: 5px 0;
}
input[type=submit]{
	height: 40px;
	padding: 0 20px;
	display: block;
	cursor: pointer;
}
input[type=text], input[type=date]{
	height: 40px;
	padding: 0 10px;
	width: 200px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 2;
	-webkit-appearance: none;
}
select {
	overflow: hidden;
   	background: #fff;
   	border: 1px solid #ccc;
   	height: 40px;
   	padding: 0 10px;
   	font-size: 16px;
   -webkit-appearance: none;
}
input[type=text].normal, input[type=date].normal, select.normal{
	width: 250px;
}
input[type=text].small, input[type=date].small, select.small{
	width: 80px;
}